workflow.json
{
  "name": "Google Maps Places API",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [140, 0],
      "id": "1",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "X-Goog-Api-Key", "value": "AIzaSyAEI1yvpeq-ML4g6_ACSIRZ29FEL8NIkw4"},
            {"name": "X-Goog-FieldMask", "value": "places.displayName,places.formattedAddress,places.websiteUri,places.nationalPhoneNumber,places.rating,places.nextPageToken"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"dentists in calgary\",\n  \"maxResultCount\": 20,\n  \"pageToken\": \"{{ $json.nextPageToken || '' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 0],
      "id": "2",
      "name": "Search Places"
    },
    {
      "parameters": {
        "jsCode": "const places = $input.first().json.places || []\nreturn places.map(p => ({\n  json: {\n    name: p.displayName?.text || '',\n    address: p.formattedAddress || '',\n    website: p.websiteUri || '',\n    phone: p.nationalPhoneNumber || '',\n    rating: p.rating || ''\n  }\n}))"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 0],
      "id": "3",
      "name": "Extract Fields"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Search Places", "type": "main", "index": 0}]]
    },
    "Search Places": {
      "main": [[{"node": "Extract Fields", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"}
}

